.AdvertsPageCommon {
  font-size: 1rem;
  text-decoration: none;
}

.AdvertsPageDefault {
  background-color: darkblue;
  color: whitesmoke;
}

.customizeAdvertsPage {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.AdvertsPageCommon * {
  text-decoration: inherit;
  color: inherit;
  list-style: none;
  padding: 1%;
}

.AdvertsPageCommon .linkClass * {
  border: 2px solid var(--main-color);
  text-align-last: center;
  text-overflow: ellipsis;
  background-color: var(--special-bg-color);
}

.empty {
  background-color: lightsalmon;
}
