.enterElementClass {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  color: var(--main-color);
  background-color: var(--main-bk-color);
}

label {
  width: 100%;
  font-size: 0.8em;
}
